<img class="jpg-icon"  src="assets/img/title.jpg" style="max-width: 100%; min-width: 100%;">
<h1 align = 'center'>Galéria</h1>
<div style="padding-left: 7em;">
        <p>Tekinte meg a hotelünről készült képeket. A képekre kattintva, megtekintheti nagyban ha lefele görget, illetve leírást is talál róluk.</p>
        <div class="column">
            <img class="mySlides" src="assets/img/autumn.jpg" alt="A hotelünk minden évszakban szép: ősz." style="width:100%" onclick="myFunction(this);">
        </div>
        <div class="column">
            <img class="mySlides" src="assets/img/summer.jpg" alt="A hotelünk minden évszakban szép: nyár." style="width:100%" onclick="myFunction(this);">
        </div>
        <div class="column">
            <img class="mySlides" src="assets/img/winter.jpg" alt="A hotelünk minden évszakban szép: tél." style="width:100%" onclick="myFunction(this);">
        </div>
        <div class="column">
                <img class="mySlides" src="assets/img/inside.jpg" alt="Az előtér." style="width:100%" onclick="myFunction(this);">
        </div>
        <div class="column">
                <img class="mySlides" src="assets/img/yard.jpg" alt="Az udvar." style="width:100%" onclick="myFunction(this);">
        </div>
        <div class="column">
                <img class="mySlides" src="assets/img/room.jpg" alt="A recepció." style="width:100%" onclick="myFunction(this);">
        </div>
</div>
<div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="width:100%" src="assets/img/autumn.jpg" alt="">
    <div id="imgtext"></div>
    <button class="right-button" onclick="plusDivs(-1)">&#10094;</button>
    <button class="left-button" onclick="plusDivs(1)">&#10095;</button>
</div>
