<div>
    <div>
        <span>Név:</span>
        <span>{{ booking?.name }}</span>
    </div>
    <div>
        <span>Vendégek száma:</span>
        <span>{{ booking?.people }}</span>
    </div>
    <div>
        <span>Állapot:</span>
        <span>{{ booking?.status }}</span>
    </div>
    <div>
        <span>Érkezés:</span>
        <span>{{ booking?.arriveDate }}</span>
    </div>
    <div>
        <span>Távozás:</span>
        <span>{{ booking?.leaveDate }}</span>
    </div>
    <div>
        <span>Étkezés:</span>
        <span>{{ booking?.meal }}</span>
    </div>
    <div>
        <button mat-raised-button (click)="editBooking()">Módosítás</button>
    </div>
</div>
