<div>
    <img class="jpg-icon"  src="assets/img/title.jpg" style="max-width: 100%; min-width: 100%;">
    <h1>Köszöntjük Önt a szállodánk honlapján!</h1>
    <p>Nagy örömünkre szolgál, hogy virtuális látogatást tesz szállodánkban.</p>
    <p>Hangulatos ötcsillagos szállodánkban igazi vendégszeretettel várjuk Önt és családját, csupán néhány lépésre a város szívétől, páratlan kilátást nyújtva az óvárosra.</p>
    <p>Foglalja le szállását weboldalunkon, vagy közvetlen elérhetőségeink bármelyikén, és amellett, hogy legkedvezőbb árunkat kapja, szobánként egy ajándékban is részesül!</p>
    <h2>Miért válassza a Fantasy Hotelt?</h2>
    <p>Megkérdeztük vendégeinket, mit szeretnek leginkább a hotelünkben. A leggyakoribb válaszok:</p>
    <ul>
        <li>Kedves, segítőkész személyzet</li>
        <li>Kiváló ételek, gasztronómiai élmény</li>
        <li>Természet, szép környezet</li>
        <li>Családias hangulat</li>
        <li>Tisztaság</li>
    </ul>
    <br>
</div>