<img class="jpg-icon"  src="assets/img/title.jpg" style="max-width: 100%; min-width: 100%;">
<h1 align = "center">Szolgáltatások</h1>
<h2>Szobakínálatunk</h2>
Minden szoba fürdőszobával (részben fürdőkád, részben zuhanyfülke), WC-vel, hajszárítóval, rádióval, LCD televízióval, minibárral, telefonnal és Internet-csatlakozási lehetőséggel felszerelt.

Valamennyi szoba légkondicionált, nem dohányzó. Szinte mindegyik szoba erkélyes.
A szobaár tartalmazza a szauna, élménymedencék, strand, beltéri és kültéri wellness használatát.

<h2>Wellness</h2>
A wellness az általános jó közérzet, a teljes testi és lelki kiegyensúlyozottság programja. A mai kor embere számára kialakított reform-életforma, amely magában foglalja a fittséget és a testi, lelki, szellemi egészséget, ugyanakkor azoknál jóval többet jelent. Míg a testi egészség a betegségmentes fizikai állapot, addig a fittség megnövekedett teljesítőképességet jelez, mely kihat a mindennapi munkavégzésre. A wellness tehát nemcsak a testi, de a lelki, érzelmi, szellemi teljesítő- és tűrőképesség fokozódását jelenti, és fizikális vonatkozása mellett a tökéletes közérzethez nélkülözhetetlen mentális és pszichés faktorokat is tartalmazza.

<h2>Esküvő</h2>
Az Önök életében is eljön a Nagy Nap, amikor örök hűséget fogadnak egymásnak. A gyönyörű ünnephez tökéletes helyszín is való, mi ebben tudunk Önöknek segítséget nyújtani. Duna-parti, 5 hektáros parkunkban lehetőség van polgári esküvői szertartások lebonyolítására, szakképzett és lelkes személyzetünk mindent megtesz annak érdekében, hogy felejthetetlenné varázsolja Önöknek ezt a csodálatos ünnepet. Álmodják meg az esküvő minden részletét, és Mi megvalósítjuk azt!

<h2>Gasztronómia</h2>
Hotelünkben Michelin csillagos séfek dolgoznak, hogy Önök mindig úgy érezzék magukat, mint egy királyi család. Svédasztalos bőséges vacsora várja az itt megszállókat.
<p>Hotelünk egyik különlegessége a hozzá kapcsolódó angol stílusú söröző, melyben helyet kapott egy négyállásos amerikai bowling pálya, egy billiárd asztal, darts és asztali foci is. Szállóvendégeink és az idelátogatók részére hangulatos esti kikapcsolódást biztosítunk. A pub étel- és itallapján széles választékban találhatók steakek, saláták, sörök, koktélok és röviditalok.</p>