<div>
    <h1>Booking list</h1>
     <div>
        <app-status-filter
            [statusFilter]="statusFilter"
            (filterChange)="filterChange($event);"
        ></app-status-filter>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Arrive date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Béla</td>
                    <td>20200101</td>
                    <td>NEW</td>
                </tr>
        </tbody>
    </table>
</div>
