<div>
    <img class="jpg-icon"  src="assets/img/title.jpg" style="max-width: 100%; min-width: 100%;">
    <h1>Foglalásaim</h1>
    <div>
        <app-status-filter></app-status-filter>
    </div>
    <table>
        <thead>
            <tr>
                <th>Név</th>
                <th>Érkezés</th>
                <th>Távozás</th>
                <th>Étkezés</th>
                <th>Ár</th>
                <th>Állapot</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="bookingService.filteredBookings.length > 0">
                <tr *ngFor="let booking of bookingService.filteredBookings">
                   <!-- [routerLink]="['/', 'bookings', booking.id]"-->
                    
                    <td>{{ booking.name }}</td>
                    <td>{{ booking.arriveDate }}</td>
                    <td>{{ booking.leaveDate }}</td>
                    <td>{{ booking.meal }}</td>
                    <td>{{ booking.price }}</td>
                    <td>{{ booking.status }}</td>
                </tr>
            </ng-container>
            <tr *ngIf="bookingService.filteredBookings.length === 0">
                    <td colspan="3">Nincs foglalás</td>
            </tr>
        </tbody>
    </table>
</div>
