<div>
    <img class="jpg-icon"  src="assets/img/title.jpg" style="max-width: 100%; min-width: 100%;">
    <h1>New booking</h1>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" value="">
        </mat-form-field>
        <div>
            <label for="arriveDate">Arrive date</label>
            <input name="arriveDate" id="arriveDate" type="text" />
        </div>
        <div>
            <label for="status">Status</label>
            <select name="status" id="status" type="text">
                <option value="NEW">New</option>
                <option value="IN_PROGRESS">In progress</option>
                <option value="DONE">Done</option>
            </select>
        </div>
        <input type="submit" value="Create" />
    </form>
</div>
